
/* Google font  */

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&family=Montserrat:wght@500&family=Open+Sans&family=Work+Sans&display=swap');

#my-primary-color{
  background-color: #B68C5A !important;
  color: white;
}

.my-font{
  /* font-family: 'EB Garamond'; */
  /* font-family: 'EB Garamond', serif; */
  font-family: 'EB Garamond';
}
#banner{
  background-image: url(images/banner.png);
  /* background-repeat: no-repeat; */
    background-size: 100% 100%;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.custom-bg{
  background: #F3F3F3;
}